<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="CumulusMX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <runtime>
    <GCConserveMemory enabled="6" />
  </runtime>
<applicationSettings>
    <CumulusMX.Properties.Settings>
      <setting name="MinThreadPoolSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MaxThreadPoolSize" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="PhpMaxConnections" serializeAs="String">
        <value>3</value>
      </setting>
    </CumulusMX.Properties.Settings>
  </applicationSettings>
</configuration>
